@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --primary-color: #37e7a0;
  /* --primary-background-hover: rgb(232, 13, 60); */
}
